# Maven / Gradle
target/
build/

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Allow target inside src (tests/resources)
!**/src/main/**/target/
!**/src/test/**/target/

# Environment variables
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
