version: "3.9"

services:
  postgres:
    image: bitnami/postgresql:latest
    container_name: artist_album_postgres
    environment:
      POSTGRES_DB: artist_album
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123456
    volumes:
      - postgres_data:/bitnami/postgresql
    ports:
      - "5432:5432"

  minio:
    image: minio/minio:latest
    container_name: minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  minio_data:
