spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/artist_album_db
    username: artist_album_user
    password: artist_album_pass
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  flyway:
    enabled: true

minio:
  url: http://localhost:9000
  access-key: minioadmin
  secret-key: minioadmin
  bucket: album-covers

